html,
body,
div,
span,
pre,
code,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a,
img {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline;
}

html.smooth-scroll {
  scroll-behavior: smooth;
}

body {
  color: var(--body-color);
  font-family: Verdana, Geneva, sans-serif;
  overflow-y: scroll;
  transition: opacity 0.5s;
  hyphens: auto;
}

html.loaded {
  &:before,
  &:after {
    transition: opacity 0.5s;
    opacity: 0;
  }

  & body {
    opacity: 1;

    & * {
      transition: none !important;
    }
  }
}

ul {
  list-style: none;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  color: var(--red);
  text-decoration: none;
  font-weight: bold;
}

em {
  font-style: italic;
  font-weight: bold;
}

.italic{
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.orange {
  color: var(--orange);
}

.content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100%;
  width: 100%;
  max-width: 1000px;
  margin: auto;

  & > :first-child {
    padding-top: 140px;
  }

  & > :last-child {
    min-height: calc(100vh - 300px);
    margin-bottom: 150px;
  }

  & h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 140px;
  }

  & h2:before,
  & h2:after {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background: var(--body-color);
    margin-top: 0.2em;
  }

  & h2:before {
    margin-right: 0.2em;
  }

  & h2:after {
    margin-left: 0.2em;
  }

  & h3 {
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 2em;
    color: var(--orange);
  }

  & p,
  & ul {
    font-size: 0.8rem;
    text-align: justify;
  }

  & > p.text,
  & div.text p {
    line-height: 1.45;
    margin-top: 1.2rem;

    & a {
      font-style: italic;
    }
  }

  & .demo {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    height: 322px;
    user-select: none;
    & * {
      box-sizing: border-box;
    }
  }

  & .game-container {
    position: relative;

    & .dot {
      position: absolute;
      top: 10px;
      left: 10px;
      top: 0;
      left: 0;
      pointer-events: none;
    }

    & .left,
    & .top,
    & .right,
    & .bottom {
      position: absolute;
      pointer-events: none;
      transition: opacity 0.2s linear 1s;
      opacity: 0;
    }

    & .left,
    & .right {
      top: 10px;
      width: 0;
      height: 300px;
    }

    & .top,
    & .bottom {
      left: 10px;
      width: 460px;
      height: 0;
    }

    & .left {
      left: -1px;
      box-shadow: -2px 0px 10px 3px var(--orange);
    }

    & .top {
      top: -1px;
      box-shadow: 0px -2px 10px 3px var(--orange);
    }

    & .right {
      left: 482px;
      box-shadow: 2px 0 10px 3px var(--orange);
    }

    & .bottom {
      top: 322px;
      box-shadow: 0 2px 10px 3px var(--red);
    }

    & .show {
      opacity: 1;
      transition: none;
    }

    & #game {
      background: #1e1e1e;
      border: 1px solid var(--orange);
      border-radius: 5px;
      cursor: pointer;
    }
  }
  & .controls-wrapper {
    display: flex;
    flex-direction: row;
    flex-basis: 520px;
  }

  & .listeners {
    flex-basis: 350px;
    flex-shrink: 0;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.7em;
    font-weight: bold;

    & > div {
      border: 1px solid var(--body-color);
      background-color: #8080803b;
      border-radius: 5px;
      padding: 10px 15px;
      display: flex;
      flex-direction: row;
      align-items: center;

      & h4 {
        color: var(--orange);
        font-weight: bold;
        width: 125px;
      }

      & img {
        padding-left: 20px;
      }
    }

    &.light >div h4 {
      width: 195px;
    }
  }

  & .controls {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: bold;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    align-self: center;

    & img {
      opacity: 0.5;
      transition: opacity 0.4s;
      &.enabled {
        opacity: 1;
      }
    }

    & .button {
      box-sizing: border-box;
      user-select: none;
      width: 100%;
      padding: 10px;
      font-size: 0.9em;
      display: flex;
      border: 2px solid var(--orange);
      border-radius: 5px;
      background: var(--orange);
      background-color: #8080803b;
      transition: border 0.4s, opacity 0.4s;
      opacity: 0.5;

      &.enabled {
        opacity: 1;
        cursor: pointer;

        &:hover {
          border-color: var(--red);
          background-color: #80808020;
        }

        &.active{
          color: var(--green);
        }
      }

      & span {
        margin: auto;
        text-align: center;
      }
    }
  }

  & .options {
    & h5 {
      font-weight: bold;
      font-style: italic;
      font-size: 0.85em;
      color: var(--orange);
      margin-top: 1em;

      &:not(:first-of-type) {
        margin-top: 2em;
      }
    }

    & div {
      margin-top: 0.5em;
      border-left: 1px solid var(--orange);
      padding: 0.2em 0 0.2em 0.5em;

      & p:not(:first-of-type) {
        margin-top: 0.5em;
      }
    }
  }
}

@keyframes imgrotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.up {
  right: 10px;
  bottom: -50px;
  position: fixed;
  width: 40px;
  height: 40px;
  background: var(--body-bg-color);
  z-index: 100;
  border: 3px solid var(--orange);
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.4s, border-color 0.4s;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
  }

  &:before {
    width: 12px;
    height: 18px;
    background: var(--orange);
    left: 14px;
    bottom: 6px;
    transition: background-color 0.4s;
  }

  &:after {
    left: 6px;
    top: 4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 14px 14px 14px;
    border-color: transparent transparent var(--orange) transparent;
    transition: border-color 0.4s;
  }

  @media (hover: hover) {
    &:hover {
      border: 3px solid var(--red);

      &:before {
        background: var(--red);
      }

      &:after {
        border-color: transparent transparent var(--red) transparent;
      }
    }
  }

  &.show {
    transform: translateY(-125%);
  }
}

@media screen and (max-width: 1240px) {
  body:not(.menu-is-closed) {
    & .content {
      & p,
      & h3,
      & h4 {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
      }

      & h2 {
        padding-left: 0.5em;
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .content {
    & p,
    & h3,
    & h4 {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
    }

    & h2 {
      padding-left: 0.5em;
    }
  }
}

@media screen and (min-width: 600px) {
  .content-wrapper {
    margin-left: 220px;
    transition: margin 0.4s;
  }
}